
body {
  margin: 0px;
  padding: 0;
  font-family:sans-serif;
}

/* Navbar-Styles */
.navbar {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: white;
  
}

/* Logo*/
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 70px;
  margin-right: 10px;
}

/*Links */
.navlinks {
  padding: 10px 40px 10px 300px;
  list-style: none;
  display: flex;
  gap: 50px;
}

.navlinks li {
  display: inline;
}

.navlinks a {
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  transition: color 0.3s ease;
}

.navlinks a:hover{
    
    background-color: #FC8A06;
    color: white;
  border-radius: 20px;
  padding: 10px 20px;
}




/* Login-Signup Button */
.login-signup .btn {
    margin-right:20px;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .login-signup .btn:hover {
    background-color: #FC8A06;
    color: white;
  }


  /*section 1*/
  .section1 {
    
    margin-left:50px;
    margin-right:50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px;
    background-color: white;
    border: 1px solid #e3e2e2;
    border-radius: 20px;
    background-color: #f9f8f8;
  }
  .content {
    max-width: 50%;
  }
  .content h1 {
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
  }
  .content p {
    font-size: 15px;
    color: #666;
    margin-bottom: 30px;
  }
  .search-bar {
    display: flex;
    gap: 10px;
  }
  .search-bar input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 20px;
  }
  .search-bar button {
    background-color: #FC8A06;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  .search-bar button:hover {
    background-color: #FC8A06;
    border:1px solid #a19f9f;
    
  }
  
  /*Image */
  .image img {
    width: 200px;
    border-radius: 10px;
    display:flex;
  }
  .image img:hover{
    border: 1px solid #FC8A06;
    border-radius: 10px;
  }

  /*section2*/

  .section2 {
    margin-left:50px;
    margin-right:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/*courses*/

.courses-list {
  padding: 10px 40px 10px 300px;
  list-style: none;
  display: flex;
  gap: 50px;
}
.courses-list li {
  display: inline;
}
.courses-list span:hover{
 color:#FC8A06;
}
.courses-list a {
  text-decoration: none;
  font-size: 13px;
  color: #000000;
  
}
.courses-list a:hover{
    color: #FC8A06;
}


