
body {
    margin: 0px;
    padding: 0;
    font-family:sans-serif;
  }
  
  /* Navbar-Styles */
  .navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: white;
    
  }
  
  /* Logo*/
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 70px;
    margin-right: 10px;
  }
  
  /*Links */
  .navlinks {
    padding: 10px 40px 10px 300px;
    list-style: none;
    display: flex;
    gap: 50px;
  }
  
  .navlinks li {
    display: inline;
  }
  
  .navlinks a {
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    transition: color 0.3s ease;
  }
  
  .navlinks a:hover{
      
      background-color: #FC8A06;
      color: white;
    border-radius: 20px;
    padding: 10px 20px;
  }
  
  
  
  
  /* Login-Signup Button */
  .login-signup .btn {
      margin-right:20px;
      text-decoration: none;
      background-color: black;
      color: white;
      padding: 10px 20px;
      border-radius: 20px;
      font-size: 14px;
      font-weight: bold;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .login-signup .btn:hover {
      background-color: #FC8A06;
      color: white;
    }
  
  
    /*section 1*/
    .section1 {
      
      margin-left:50px;
      margin-right:50px;
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 50px 30px;
      background-color: white;
      border: 1px solid #e3e2e2;
      border-radius: 20px;
      background-color: #f9f8f8;
    }
    .content {
      max-width: 50%;
    }
    .content h1 {
      font-size: 48px;
      color: #333;
      margin-bottom: 20px;
    }
    .content p {
      font-size: 15px;
      color: #666;
      margin-bottom: 30px;
    }
    .Search{
        background-color: #f3f3f3;
        margin-top: 50px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .search-bar {
      display: flex;
      gap: 10px;
      padding-left: 800px;
      padding-top: 15px;
      padding-bottom: 15px;

    }
    .search-bar input {
      width: 300px;
      border: 1px solid #ddd;
      border-radius: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
    .search-bar button {
      background-color: #FC8A06;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 20px;
      cursor: pointer;
    }
    .search-bar button:hover {
      background-color: #FC8A06;
      border:1px solid #a19f9f;
      
    }
    .res-name2 a{
        padding-left: 0px;
    }
    .restaurants{
        padding-left: 30px;
        padding-top: 20px;
        margin-left: 50px;
    }
    .res-name{
        padding: 20px 20px 0px 220px;
    }
    .restaurants a{
        padding-left: 0px;
    }
    .first{
      display: flex;
      justify-content: space-between;
    }
    .ratingbody{
      height: 80px;
      width: 260px;
      margin-top: 90px;
      margin-bottom: 20px;
      margin-right: 70px;
      margin-left: 20px;
    }
    .rating {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }

    .rating input {
      display: none;
    }

    .rating label {
      font-size: 2rem;
      color: #ccc;
      cursor: pointer;
      transition: color 0.3s ease;
    }
    .rating input:checked ~ label,
    .rating label:hover,
    .rating label:hover ~ label {
      color: gold;
    }
    .res1{
        width: 900px;
        height: 180px;
        background-color: #f4f1f1;
        border-radius: 15px;
        margin-top: 30px;
        margin-bottom: 20px;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .circle1{
      height: 130px;
      width: 150px;
      background-color: aqua;/*Change with backgroung Image*/
      border-radius: 50%;
      border: 2px solid black;
      margin-left: 50px;
    }
    .res2{
      width: 900px;
      height: 180px;
      background-color: #f4f1f1;
      border-radius: 15px;
      margin-top: 30px;
      margin-bottom: 20px;
      display: flex;
      justify-content: left;
      align-items: center;
  }
  .circle2{
    height: 130px;
    width: 150px;
    background-color: aqua;/*Change with backgroung Image*/
    border-radius: 50%;
    border: 2px solid black;
    margin-left: 50px;
  }
  .res3{
    width: 900px;
    height: 180px;
    background-color: #f4f1f1;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.circle3{
  height: 130px;
  width: 150px;
  background-color: aqua;/*Change with backgroung Image*/
  border-radius: 50%;
  border: 2px solid black;
  margin-left: 50px;
}
.res4{
  width: 900px;
  height: 180px;
  background-color: #f4f1f1;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.circle4{
height: 130px;
width: 150px;
background-color: aqua;/*Change with backgroung Image*/
border-radius: 50%;
border: 2px solid black;
margin-left: 50px;
}
.res5{
  width: 900px;
  height: 180px;
  background-color: #f4f1f1;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.circle5{
height: 130px;
width: 150px;
background-color: aqua;/*Change with backgroung Image*/
border-radius: 50%;
border: 2px solid black;
margin-left: 50px;
}
.res6{
  width: 900px;
  height: 180px;
  background-color: #f4f1f1;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.circle6{
height: 130px;
width: 150px;
background-color: aqua;/*Change with backgroung Image*/
border-radius: 50%;
border: 2px solid black;
margin-left: 50px;
}
.res7{
  width: 900px;
  height: 180px;
  background-color: #f4f1f1;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.circle7{
height: 130px;
width: 150px;
background-color: aqua;/*Change with backgroung Image*/
border-radius: 50%;
border: 2px solid black;
margin-left: 50px;
}
    .more{
        height: 300px;
        width: 100%;
        display: flex;
        gap: 5px;
        margin-bottom: 30px;
        
    }
    .section2{
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 50px;
    }
    .image1{
        height: 200px;
        width: 400px;
        border-radius: 10px;
        background-color: black;/*Change with backgroung Image*/
        margin: 20px 30px 30px 10px;
    }
    .image2{
      height: 200px;
      width: 400px;
      border-radius: 10px;
      background-color: black;/*Change with backgroung Image*/
      margin: 20px 30px 30px 10px;
  }
  .image3{
    height: 200px;
    width: 400px;
    border-radius: 10px;
    background-color: black;/*Change with backgroung Image*/
    margin: 20px 30px 30px 10px;
}
  .top{
    display: flex;
  }
  .top button{
    background-color: #FC8A06;
    color: black;
    border-radius: 50%;
    border: none;
    margin-left: 77%;
    width: 50px;
    height: 50px;
    font-size: xx-large;
    font-weight: lighter;
    margin-top: 10px;
  }

  .footer{
    margin: 10px 0 0 0;
    height: 200px;
    width: 100%;
    background-color: #ededed;
    display: flex;
  }
  
  
  .logo9{
    padding: 20px 5px 5px 80px;
  }
  
  .logo9 p{
  padding-top: 100px;
  }
  
  .social{
    flex:1;
    padding:20px;
  
  }
  
  .info{
    flex:1;
    padding:20px;
    display:flex;
    
  }
  .info-1{
    list-style-type: none;

   
  }
  
  .info1last a{
    text-decoration: none;
    color: black;
  }
  .titlelast{
    display: flex;
    align-items: center;
  }
  .navbarlast {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0;
    background-color: #03081f;
    color: white;
    height: 30px;
    
  }
  .navlinkslast {
    padding:10px ;
    list-style: none;
    display: flex;
    gap: 50px;
  }
  
  .navlinkslast li {
    display: inline;
  }
  
  .navlinkslast a {
    text-decoration: none;
    font-size: 14px;
    color: white;
  }
